type hal_audio_sysbta, domain, coredomain;

type hal_audio_sysbta_exec, exec_type, system_file_type, file_type;
init_daemon_domain(hal_audio_sysbta)

hal_client_domain(hal_audio_sysbta, hal_allocator)

